@model List<string>
@{
    ViewData["Title"] = "SubmitQuiz";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/edit.css">
    <link rel="stylesheet" href="~/css/pull.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css.map">
    <title>Score</title>
</head>
<body>

    <div class="container">

        <div class="parent-answer">
            <h1>@ViewBag.U</h1>
            <p><span>Your score: </span>@ViewBag.Score / @ViewBag.Count</p>
        </div>
        @for (var i = 0; i < ViewBag.Q.Count; i++)
        {
            var x = i + 1;
            <div class="pre">
                <h5>@x - @ViewBag.Q[i].Text</h5>
                <p>@Model[i]</p>
            </div>

        }

    </div>

    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>
